[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
faker = "*"
pytest = "*"
prospector = "==1.2.0.dev3"
pyflakes = ">=2.0.0"
respx = "*"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"

[requires]
python_version = "3.8"
