name: lint-and-test

on: [push]

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install pipenv
        pipenv install --dev
    - name: Lint with prospector
      run: |
        pipenv run prospector -s veryhigh .
    - name: Test with pytest
      run: |
        pipenv run python -m pytest
